* {
    margin: 0;
    padding: 0;
    font-family: ringbearer;
}

#banner {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));
}

header div h1{
    text-align: center; 
    color: gold;
}

nav{
    width: 100%;
    position: fixed;
    transition: all 0.3s ease-out;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: gold;
    border: 1px solid black;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(114, 24, 24, 0.581));
    height: 30px;
}

li a{
    color: gold;
}

li {
    list-style-type: none;
}

#home{
    border: 1px solid red;
    height: 500px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));
}

#fellowship{
    border: 1px solid blue;
    height: 500px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));
}

#quest{
    border: 1px solid green;
    height: 500px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));
}

#team{
    border: 1px solid yellow;
    height: 500px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));
}
